<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIMS</title>
    <style>
        body {
          background-color: #e9e9e9;
          font-family: "Lato", sans-serif;
          padding-top: 50px;
        }
  
        .container {
          max-width: 550px;
          margin: auto;
          background-color: rgb(255, 255, 255);
        }
      </style>
</head>
<body>
    <div class="container">{% block content %} {% endblock content %}</div>
</body>
</html>