{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header ">
                        <h4 class="card-title">Inventory Status</h4>
                        <p class="card-category">Inventory</p>
                    </div>

                    <div class="card-body ">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Product ID</th>
                                    <th>Product Name</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1001</td>
                                    <td>GTX 1650</td>
                                    <td>50324</td>
                                </tr>
                                <tr>
                                    <td>2001</td>
                                    <td>GTX 1080</td>
                                    <td>1143</td>
                                </tr>
                                <tr>
                                    <td>3001</td>
                                    <td>RTX 2060</td>
                                    <td>19923</td>
                                </tr>
                                <tr>
                                    <td>4001</td>
                                    <td>RTX 3070</td>
                                    <td>39126</td>
                                </tr>
                            </tbody>
                        </table>
                        
                    </div>

                    <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script type="text/javascript">
    $(document).ready(function() {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();
        demo.showNotification();
    });
</script>

{% endblock javascripts %}
