{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header ">
                        <h4 class="card-title">Mailbox</h4>
                        <p class="card-category">Inbox</p>
                    </div>

                    <div class="card-body ">
                        <ul class="nav">
                            <li>
                                <a class="nav-link" href="/">
                                    <i class="nc-icon nc-chart-pie-35"></i>
                                    <p>Dashboard</p>
                                </a>
                            </li>
                            <li class="nav-item nav-item">
                                <a class="nav-link" href="{% url 'mailbox' %}">
                                    <i class="nc-icon nc-email-85"></i>
                                    <p>Mailbox</p>
                                </a>
                            </li>
                            <li class="nav-item nav-item">
                                <a class="nav-link" href="{% url 'inventory' %}">
                                    <i class="nc-icon nc-layers-3"></i>
                                    <p>Inventory Status</p>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script type="text/javascript">
    $(document).ready(function() {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();
        demo.showNotification();
    });
</script>

{% endblock javascripts %}
