<div class="sidebar" data-color="dell-blue" data-image="static/email_fetcher/img/tech-planet.jpg">
    <!--
Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

Tip 2: you can also add an image using data-image tag
-->
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="/" class="simple-text">
                AIMS
            </a>
        </div>
        <ul class="nav">
            <li class="nav-item nav-item {% if 'index' in segment %} active {% endif %}">
                <a class="nav-link" href="/">
                    <i class="nc-icon nc-chart-pie-35"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item nav-item">
                <a class="nav-link" href="{% url 'mailbox' %}">
                    <i class="nc-icon nc-email-85"></i>
                    <p>Mailbox</p>
                </a>
            </li>
            <li class="nav-item nav-item">
                <a class="nav-link" href="{% url 'inventory' %}">
                    <i class="nc-icon nc-layers-3"></i>
                    <p>Inventory Status</p>
                </a>
            </li>
        </ul>
    </div>
</div>
